<h5>会員情報編集</h5>
<%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>

  <h6>氏名</h6><%= f.text_field :last_name %> <%= f.text_field :first_name %>
  <h6>フリガナ</h6><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %>
  <h6>郵便番号</h6><%= f.text_field :postal_code %>
  <h6>住所</h6><%= f.text_field :address %>
  <h6>電話番号</h6><%= f.text_field :telephone_number %>
  <h6>メールアドレス</h6><%= f.text_field :email %>
  
  <%= f.submit "編集内容を保存" %> <%= link_to "退会する", customers_unsubscribe_path %>
<% end %>