<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="my-5">商品一覧</h5>
    </div>
    <div class="col">
      <%= link_to new_admin_item_path, class: "btn btn-outline-secondary" do %>
        <i class="fa-light fa-circle-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= item.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
    </div>
  </div>
</div>
