<div class="container">
  <h4 class="mx-5 my-5"><strong>管理者ログイン</strong></h4>
  <div class="row mx-auto justify-content-center">
    <div class="col-8 mb-5 text-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <tr>
            <div class="field">
              <th><%= f.label :メールアドレス %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-3" %></td>
            </div>
          </tr>
          <tr>
            <div class="field">
              <th><%= f.label :パスワード %></th>
              <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control mb-3" %></td>
            </div>
          </tr>
        </table>
          <br>
            <div class="actions mb-5">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
      <% end %>
    </div>
  </div>
</div>
