<div class="container">
  <h4 class="mx-5 my-4"><strong><%= @customer.last_name %><%= @customer.first_name %></strong>さんの<strong>会員情報編集</strong></h4>
  <div class="row">
    <div class="col-8 mb-5 mx-5">
      <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <table>
        <tr>
          <div class="field">
            <th><%= f.label :会員ID %></th>
            <td><%= @customer.id %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <th><%= f.label :氏名 %></th>
            <td>
              <div class="row">
                <div class="col">
                  <%= f.text_field :last_name, class: "form-control mb-2" %>
                </div>
                <div class="col">
                  <%= f.text_field :first_name, class: "form-control mb-2" %>
                </div>
              </div>
            </td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <th><%= f.label :フリガナ %></th>
            <td>
              <div class="row">
                <div class="col">
                  <%= f.text_field :last_name_kana, class: "form-control mb-2" %>
                </div>
                <div class="col">
                  <%= f.text_field :first_name_kana, class: "form-control mb-2" %>
                </div>
              </div>
            </td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <th><%= f.label :郵便番号 %></th>
            <td><%= f.text_field :postal_code, class: "form-control mb-2" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <th><%= f.label :住所 %></th>
            <td><%= f.text_field :address, class: "form-control mb-2" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <th><%= f.label :電話番号 %></th>
            <td><%= f.text_field :telephone_number, class: "form-control mb-2" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <th><%= f.label :メールアドレス %></th>
            <td><%= f.text_field :email, class: "form-control mb-2" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <th><%= f.label :会員ステータス %></th>
            <td>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, "有効" %>
     　        <%= f.radio_button :is_deleted, true %>
     　        <%= f.label :is_deleted, "退会" %>
      　     </td>
          </div>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mb-5 mx-auto">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>