<div class="container">
  <h4 class="mx-5 my-5"><strong>ログイン</strong></h4>
  <h5>会員の方はこちらからログイン</h5>
  <div class="row">
    
    <div class="col-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-3" %>
        </div>

        <div class="field">
         <%= f.label :"パスワード" %>
         <%= f.password_field :password, autocomplete: "current-password", class: "form-control mb-3" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <h5>会員登録がお済みでない方</h5>
  </div>
      <div class="col-auto">
        <%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。
      </div>
  
</div>





  
  
